<%#= link_to "New Post", new_post_url, id: "new_post", remote: true %>

<div class="form" style="position: relative;">
	<div class="img-block">
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/color-pick.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-1.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-2.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-3.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-4.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-5.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-6.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-7.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-8.png');"></div>
		</a>
		<a href="javascript:void(0)">
			<div class="image" style="background-image: url('/img-9.png');"></div>
		</a>
	</div>
</div>

<%= render 'form' %>

<div id="place_form"></div>

<div class="main">
	<%= render @posts %>
</div>


